/*@import url("https://fonts.googleapis.com/css?family=Roboto");*/
/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  font-family: "Roboto", sans-serif;*/
/*}*/
/*header {*/
/*  background-image: url("./images/cover.jpg");*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  height: 150px;*/
/*  position: relative;*/
/*}*/
/*.overlay {*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*  top: 0;*/
/*  left: 0;*/
/*  height: 100%;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  padding: 0 !important;*/
/*  margin: 0 !important;*/
/*  background-color: rgba(10, 10, 10, 0.3);*/
/*}*/

/*nav {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  z-index: 2;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  justify-content: space-between;*/
/*  padding: 50px 60px 0 60px;*/
/*}*/
/*nav li {*/
/*  list-style: none;*/
/*  display: inline-block;*/
/*  padding-right: 10px;*/
/*  padding-left: 10px;*/
/*}*/
/*li a {*/
/*  padding: 5px;*/
/*  background-color: #278462;*/
/*  text-decoration: none;*/
/*}*/
