/* styling the cart page */

.shopping-cart {

  background: white;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
/* Let’s add some basic style to product name and description.  */
.container-products {
  justify-content: space-around;
  margin: 0 auto;
}
.container-products ion-icon {
  font-size: 25px;
  color: #5d5e5e;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgrey;
  margin: 0 auto;
}
.product-title {
  width: 45%;
}
.price {
  width: 15%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}
.quantity {
  width: 30%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}
.total {
  width: 10%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}
.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}
.product ion-icon {
  cursor: pointer;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.products {
  width: 500px;
}

.img-cart {
  max-height: 10vw;
  max-width: 10vw;
  object-fit: cover;
}
.cartTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
.cartTotalTitle {
  width: 30%;
}
.cartTotal {
  width: 10%;
  font-size: 20px;
}
