/* styling the cart page */

.shopping-cart {
  /*max-width: 750px;*/
  /*max-height: 423px;*/
  /*margin: 80px auto;*/
  background: #E6E7E8;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  /*display: flex;*/
  /*flex-direction: column;*/
}
/* Let’s add some basic style to product name and description.  */
.container-products {
  /*max-width: 650px;*/
  /*max-height:;: 450px;*/
  justify-content: space-around;
  margin: 0 auto;
  /*margin-top: 50px;*/
}
.container-products ion-icon {
  font-size: 25px;
  color: #E6E7E8;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgrey;
  margin: 0 auto;
}
.product-title {
  width: 45%;
}
.price {
  width: 15%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}
.quantity {
  width: 30%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}
.total {
  width: 10%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}
.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}
.product ion-icon {
  cursor: pointer;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.products img {
  width: 500px;
}

.img-cart{
  max-height: 25px;
  max-width: 25px;
}
.cartTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
.cartTotalTitle {
  width: 30%;
}
.cartTotal {
  width: 10%;
  font-size: 20px;
}
@media (max-width: 500px) {
  nav h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .sm-hide {
    display: none;
  }
  .products,
  .product-header {
    justify-content: center;
  }
  .cartTotalContainer {
    padding-right: 8%;
  }
}
.img-product {
  width: 800px;
}
.product-buttons {
  width: 80px;
}
